{% extends "index.twig" %}

{% block content %}
<div class="panel panel-default">
        <div class="panel-body">
            <div class="chartBar">
                <canvas id="popChartTotal" height="{{ rowCount }}" data-names="{{ totalChart | json_encode }}"></canvas>
            </div>
        </div>
</div>
{% endblock content %}
{% block what_name %} <input type="hidden" name="what" value="total"> {% endblock %}
{% block additional_js %}
<script>popChartTotal();</script>
{% endblock additional_js %}

